body {
  background-image: url(../images/violent-waves-circa-wallpaper-space-only.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* <nav bar css> */
<style>
/* Add a black background color to the top navigation */
.topnav {
  background-color: #D8D8D8;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* <album layout css> */

.container {
max-width: 800px;
height: auto;
margin: auto;
padding: 25px 25px;
}

.album-wrapper {
width: 100%;
height: auto;
text-align: center;
}

.album {
width: 200px;
height: 200px;
display:inline-grid;
}
